DATABASE_URL="postgresql://clinica:clinica_dev_password@localhost:5440/clinica_nutricao?schema=public"

NODE_ENV=development
PORT=3001

JWT_ACCESS_SECRET=troque-por-um-segredo-forte
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_SECRET=troque-por-outro-segredo-forte
JWT_REFRESH_EXPIRES_IN=30d

CORS_ORIGIN=http://localhost:3020
COOKIE_SECURE=false
